button{
  cursor: pointer;
}
@font-face {
  font-family: "Metropolis";
  src: url('metropolis/Metropolis-Thin.otf') format('opentype'),
      url('metropolis/Metropolis-LightItalic.otf') format('opentype');
}

 

body.dark-mode {
  ::selection {
    background-color: rgb(231, 246, 242);
    color: rgb(44, 51, 51);
  } 
  text-align: center;
  background-color: rgb(44, 51, 51);
  transition: all 0.5s ease-in-out;
  #game-button{
    position: sticky;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #002241;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; /* 16-bit retro font */
   
}
#game-button:hover{
background-color: #34495f; /* Darker blue on hover */
transform: translate(-50%, -50%) scale(1.05); /* Slightly scale up on hover */
}
  #header {
    font-size: 100px;
    font-family: 'Metropolis';
    color: rgb(231, 246, 242);
  }
  .message,
  h2{
    font-family: 'Metropolis';
    color: rgb(231, 246, 242);
  }
  #text{
    font-family: 'Metropolis';
    color: rgb(231, 246, 242);
    font-size: large;
  }
          
  .main-button {
    content: '🤭';
    font-size: 2.5em;
    font-family: 'Metropolis';
    color: rgb(165, 201, 202);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(165, 201, 202);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.main-button:hover {
    background-color: rgb(57, 91, 100);
    transform: scale(0.98);
}

.main-button:focus {
    outline: none;
}

.main-button:active {
    transform: scale(0.95);
}

  
  .clear-button {
    margin-top: 50px ;
    padding: 10px;
    padding-left:30px;
    padding-right:30px ;
    border: none;
    background-color: transparent;
  color: white;
  transition: all 0.5s;
  position: relative; 
  }
  .clear-button span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
  }
  .clear-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  }
  .clear-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  }
  .clear-button:hover::before {
  transform: rotate(-25deg);
  background-color: rgba(255,255,255,0);
  }
  .clear-button:hover::after {
  transform: rotate(25deg);
  background-color: rgba(255,255,255,0);
  }
  
  
  #body_svg_dark {
    margin-top:70vh ;
    background-image: linear-gradient(rgb(44, 51, 51),rgb(194, 222, 209));
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }
  
  .animation-wrapper {
    width: 50%;
    padding-bottom: none;
  }
  
  .sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  #body_svg_light{
    display:none;
   }
   @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }
}

        

@media (max-width: 480px) {
  #header {
      font-size: 40px;
  }

  .main-button {
      width: auto;
      height: auto;
      font-size: 12px;
  }

  .clear-button {
      margin: 10px auto;
      padding: 6px 16px;
  }

  #text {
      font-size: small;
  }
  .main-button,
  .clear-button {
      transition: all 0.3s ease-in-out;
    }
    #game-button{
      display: none;
    }
}


/* Medium screens (tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
  #header {
      font-size: 60px;
  }

  .main-button {
      width: auto;
      height: auto;
      font-size: 14px;
  }

  .button-container {
      flex-direction: row;
      margin-top: 30px;
  }

  .clear-button {
      margin: 0 10px;
      padding: 10px 20px;
  }
  .main-button,
  .clear-button {
      transition: all 0.3s ease-in-out;
  }
  #game-button{
    display: none;
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  #header {
      font-size: 100px;
  }

  .main-button {
      width: auto;
      height: auto;
      font-size: 2.5em;
  }

  .button-container {
      margin-top: 50px;
  }

  .clear-button {
      margin-top: 50px;
      padding: 10px;
  }
  .main-button,
  .clear-button {
      transition: all 0.3s ease-in-out;
  }
}
