
@font-face {
  font-family: "Metropolis";
  src: url('metropolis/Metropolis-Thin.otf') format('opentype'),
      url('metropolis/Metropolis-LightItalic.otf') format('opentype');
}
::selection {
  background-color: rgb(71, 85, 70);
  color: rgb(247, 255, 229);
}
#game-button{
            position: sticky;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            background-color: #0074d9;
            color: #fff;
            border: none;
            cursor: pointer;
            font-family: 'Press Start 2P', cursive; /* 16-bit retro font */
           
}
#game-button:hover{
  background-color: #0056b3; /* Darker blue on hover */
  transform: translate(-50%, -50%) scale(1.05); /* Slightly scale up on hover */
}
button{
    cursor: pointer;
}
  body {
      text-align: center;
      background-color: rgb(247, 255, 229);
      transition: all 0.5s ease-in-out;

      #header {
        margin-top: auto;
        font-size: 100px;
        font-family: 'Metropolis';
        color: rgb(71, 85, 70);
    }
    .message,
    h2{
        font-family: 'Metropolis';
        color: rgb(71, 85, 70);
    }
    .name{
      font-size: xx-large;
    }
    #text{
        font-family: 'Metropolis';
        color: rgb(71, 85, 70);
        font-size: large;
    }
  
    
    .main-button {
      content: '🤭';
      font-size: 2.5em;
      font-family: 'Metropolis';
      color: #C4D7B2;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      background-color: rgb(236, 229, 199);
      cursor: pointer;
      transition: background-color 0.5s, transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .main-button:hover {
      background-color: rgb(205, 194, 174);
  }
  
  .main-button:focus {
      outline: none;
  }
  
  .main-button:active {
      transform: scale(0.98);
  }
  
  
  
    .clear-button {
        margin-top: 50px ;
        margin-bottom: 50px;
        padding: 10px;
        padding-left:30px;
        padding-right:30px ;
        border: none;
        background-color: transparent;
        color: rgb(71, 85, 70);
      transition: all 0.5s;
      position: relative; 
    }
    .clear-button span {
      z-index: 2; 
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; 
    }
    .clear-button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.5s;
      border: 1px solid rgba(53, 66, 89, 0.473);
      background-color: rgba(255,255,255,0.1);
    }
    .clear-button::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.5s;
      border: 1px solid rgba(53, 66, 89, 0.473);
      background-color: rgba(255,255,255,0.1);
    }
    .clear-button:hover::before {
      transform: rotate(-25deg);
      background-color: rgba(255,255,255,0);
    }
    .clear-button:hover::after {
      transform: rotate(25deg);
      background-color: rgba(255,255,255,0);
    }
    #body_svg_dark {
        display: none;
  }      
  #body_svg_light{
        background: rgb(247,255,229);
      background: linear-gradient(rgba(247,255,229,1) , rgba(160,196,157,1));
        margin-top:70vh ;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: auto;
      }
      
      .animation-wrapper {
        width: 80%;
        padding-bottom: 40%;
      }
      
      .stagger-visualizer {
        position: absolute;
        width: 1100px;
        height: 550px;
        transform-origin: left top;
      }
      
      .stagger-visualizer .dots-wrapper {
        transform: translateZ(0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      
      .stagger-visualizer .dot {
        position: relative;
        z-index: 1;
        width: 23px;
        height: 23px;
        margin: 16px;
        background-color: currentColor;
        border-radius: 50%;
      }
      
      @media (min-width: 480px) {
        .stagger-visualizer .dot {
          background-color: transparent;
          background-image: linear-gradient(180deg, #FFFFFF 8%, #D3CDC6 100%);
        }
      }
      
      .stagger-visualizer .cursor {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 37px;
        height: 37px;
        margin: 9px;
        background-color: currentColor;
        border-radius: 50%;
      }
      .cursor{
        color: #505e4f;
      }
      overflow-x: hidden;
      scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
    
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(53, 53, 53);
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  
  
responsiveness{
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }

  @media (max-width: 480px) {
    #header {
        font-size: 40px;
    }

    .main-button {
      font-size: 1.5em;
      width: auto;
      height: auto;
  }

    .clear-button {
        margin: 10px auto;
        padding: 6px 16px;
    }

    #text {
        font-size: small;
    }
    .main-button,
    .clear-button {
        transition: all 0.3s ease-in-out;
    }
    #game-button{
      display: none;
    }
}

/* Medium screens (tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
    #header {
        font-size: 60px;
    }

    .main-button {
      font-size: 2em;
      width: auto;
      height: auto;
  }

    .button-container {
        flex-direction: row;
        margin-top: 30px;
    }

    .clear-button {
        margin: 0 10px;
        padding: 10px 20px;
    }
    .main-button,
    .clear-button {
        transition: all 0.3s ease-in-out;
    }
    #game-button{
      display: none;
    }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
    #header {
        font-size: 100px;
    }

    .main-button {
        width: auto;
        height: auto;
        font-size: 2.5em;
    }

    .button-container {
        margin-top: 50px;
    }

    .clear-button {
        margin-top: 50px;
        padding: 10px;
    }
    .main-button,
    .clear-button {
        transition: all 0.3s ease-in-out;
    }
}
}